<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vmac.WatBot">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.Read_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="Rating.InformationActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/actions" />

        <activity
            android:name="Rating.ViewRatingActivity"
            android:exported="false" />
        <activity
            android:name="Rating.RatingActivity"
            android:exported="false" />

        <activity
            android:name="Rating.ViewRatingActivityChinese"
            android:exported="false" />
        <activity
            android:name="Rating.RatingActivityChinese"
            android:exported="false" />
        <activity
            android:name="Rating.InformationActivityChinese"
            android:exported="false" />
        <activity android:name=".Reviewapp.createTicketActivity"></activity>
        <activity android:name=".Reviewapp.ticketHome" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="GoogleMap.GoogleMapsActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>